@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-weight: 400;
}

.content {
	margin: 10vh auto 0;
    display: grid;
    width: 100%;
    justify-content: center;
}

.phone-wallpaper {
	width: 200px;
	margin: auto;
	margin-bottom: 30px;
}

h1 {
	color: #526ad1;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 0;
}

.box-button { 
    display: flex;
}

.botao {
    font-weight: 700;
    border-radius: 5px;
    text-align: center;
    border: 2px solid;
    color: #546bd0;
    cursor: pointer;
    padding: 10px;
    text-decoration: none;
    animation: cubic-bezier(.17,.67,.83,.67);
}

.botao:hover {
	transform: translatey(-2px) scale(1.02);
}

.botao img {
    width: 15px;
    transform: translate(-8px, 1px);
}

.novo-contato {
    background-color: #7487db;
    color: white;
    margin-left: 15px;
    width: 30%;
}

.pdf {
    width: 120px;
    margin-left: auto;
    margin-right: 15px;
}

.salvar-contato {
	margin-top: 2rem;
}

input {
	width: 320px;
    height: 30px;
    padding: 5px 10px;
    margin-bottom: 10px;
    border: 1px solid #7e7e7e;
    border-radius: 5px;
}

input:focus-visible {
    outline: 2px solid #babeed;
    border-color: #babeed;
}

input.small {
	width: 250px;
}

input:read-only {
    background: #b2b6db2e;
    border-color: #babeed;
}

form {
    width: 100%;
    display: contents;
}

#table {
	border-spacing: 15px;
}

#table thead {
    display: table;
    width: 100%;	
}

#table thead tr {
	outline: 1px solid #babeed;
    color: #526ad0;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}

#table thead tr th {
    padding: 10px 5px;
    font-weight: 400;
    color: #526ad0;
}

#table tbody {
    max-width: 600px;
    overflow-y: scroll;
    display: list-item;
        max-height: 50vh;
}

#table tbody tr td {
    color: #848484;
}

#table tbody tr td.action {
	display: flex;
    justify-content: center;
}

#table tbody tr td.action {
	display: flex;
    justify-content: center;
}

#table tbody tr td.action a {
    text-decoration: none;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: small;
}

#table tbody tr td.action a:hover {
    transform: translate(0px, -1px) scale(1.02);
}

#table tbody tr td.action a.update {
    background-color: #a6abeb;
}

#table tbody tr td.action a.update:hover {
    background-color: #7487db;
}

#table tbody tr td.action a.delete {
    background-color: #ff7966;
    margin-left: 5px;
}

#table tbody tr td.action a.delete:hover {
    background-color: #fb5942;
}